{% block content %}
    <ul>
        {% for k, v in clubs.items %}
            <li><img src="{{ v }}"> <a href = "/players?Club={{ k }}"> {{ k }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}