{% block content %}
    <ul>
        {% for k, v in countries.items %}
            <li><img src="{{ v }}"><a href = "/players?Nationality={{ k }}" > {{ k }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}