{% block content %}
    <ul>
        {% for p in positions %}
            <button class="button"><a href = "/players?Position={{ p }}" > {{ p }}</a></button>
        {% endfor %}
    </ul>
{% endblock %}