<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href='{% static "assets/css/main.css" %}'/>
		<style>
			.card {
				background-image:  url("{% static 'images/carta.png' %}"), url("{% static 'images/background.png' %}");
				background-position: center, top;
				background-repeat: no-repeat, no-repeat;
				background-size: 28%, cover; 
				background-attachment: fixed, fixed; 
				
				
			}
	
		</style>
		
	</head>
	<body class="card">
		<div>
			
			<!-- Header -->
				<div id= "header_new" style="padding: 1.6em 0 1.6em 0em; " ></div>

					<!-- Nav -->
					<nav id="nav" style="font-weight: bold;">
							<ul>
								<li><a href="/" style="color: white; font-weight: bold;">Home</a></li>
								<li>
									<a style="color: white; font-weight: bold;">Advanced Search</a>
									<ul>
										<li><a href="/players/">Players</a></li>
										<li><a href="clubs.html">Clubs</a></li>
										<li><a href="nationalities.html">Nacionalities</a></li>
										<li><a href="/positions/">Positions</a></li>
										<!--<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>-->
									</ul>
								</li>
								<li><a style="color: white; font-weight: bold;" href="cards.html">Player Cards</a></li>
								<li>
									<a style="color: white; font-weight: bold;">Add</a>
									<ul>
										<li><a href="addPlayer.html">Player</a></li>
										<li><a href="addGK.html">Goalkeeper</a></li>
										<li><a href="addClub.html">Add a Club</a></li>
									</ul>
								</li>
								
								<li><a style="color: white; font-weight: bold;" href="editPlayer.html">Edit Player</a></li>
							</ul>
						</nav>

					<div>
						<div class="card_text" style=" position: relative; left: 40.1%; top: 490px;">
							<li>{{ details.PAS }} PAS</li>
						</div>
						<div class="card_text" style=" position: relative; left: 31.5%; top: 440px;">
							<li>{{ details.SHO }} SHO</li>
						</div>
						<div class="card_text" style=" position: relative; left: 22.35%; top: 390px;">
							<li>{{ details.PAC }} PAC</li>
						</div>
						<div class="card_text" style=" position: relative; left: 24.5%; top: 490px;">
							<li>{{ details.PHY }} PHY</li>
						</div>
						<div class="card_text" style=" position: relative; left: 15.5%; top: 440px;">
							<li>{{ details.DEF }} DEF</li>
						</div>
						<div class="card_text" style=" position: relative; left: 6.3%; top: 390px;">
							<li>{{ details.DRI }} DRI</li>
						</div>
						<div class="nome_cartao" style=" position: relative; right: 15.5%; top: 335px; text-align: center;">
							<li>{{ name }}</li>
						</div>
						<div class="card_text" style=" position: relative; right:38.5%; top: 110px">
							<li style="font-size: 30px">{{ pos }}</li>
						</div>
						<div class="card_text" style=" position: relative; right: 47.2%; top: 260px;">
							<li><img src="{{ club }}" width="50" height="50"></li>
						</div>
						
						
						<div class="card_text" style=" position: relative; left: 47.5%; top: 65px;">
							<li><img src="{{ img }}" width="200" height="200"></li>
						</div>
						<div class="card_text" style="  left: 38.5%; position: absolute;top:250px; z-index: 10;">
							<li><img src="{{ nat }}" width="70" height="40"></li>
						</div>
						<div class="card_text" style="position: absolute; right:53%; top: 120px;">
							<li style="font-size: 80px;">{{ rat }}</li>
						</div>
                        <button type="button" style="font-size: 20px; width:200px;position: absolute; background-color:#FFD865;left: 1240px; top: 400px; height: 50px; border-radius: 8px; border-color: black;"><a href = "/delete?Delete={{ name }}">Delete player</a></button>
						<button type="button"  href="editPlayer.html" style="font-size: 20px; width:200px; background-color:#FFD865;position:absolute;left: 100px; top: 400px; height: 50px; border-radius: 8px; border-color: black;">Edit player</button>			
					</div>
					
				
				

			
		</div>
		
			
		
		<div class="copyright" style="text-align: center; background-color: black; color: white;margin-top: 22.5%;" >
					
			<p>&copy; Projeto EDC.</p><p>2019/2020</p>
		
		</div>

		<!-- Scripts -->
		<script src='{% static "assets/js/jquery.min.js"%}'></script>
		<script src='{% static "assets/js/jquery.dropotron.min.js"%}'></script>
		<script src='{% static "assets/js/jquery.scrolly.min.js"%}'></script>
        <script src='{% static "assets/js/jquery.scrollex.min.js"%}'></script>
		<script src='{% static "assets/js/browser.min.js"%}'></script>
		<script src='{% static "assets/js/breakpoints.min.js"%}'></script>
		<script src='{% static "assets/js/util.js"%}'></script>
		<script src='{% static "assets/js/main.js"%}'></script>   

	</body>
	
</html>