<!DOCTYPE HTML>

<html>
	<head>

		<meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href='{% static "assets/css/main.css" %}' />
        <script src='{% static "assets/js/Chart.min.js"%}'></script>
        <title>FIFA19</title>

	</head>
	<body style="background-color: #58D3F7">
		<div>

			<!-- Header -->
				<div id= "header_new" style="padding: 1.6em 0 1.6em 0em; " >

					<!-- Nav -->
					<nav id="nav" style="font-weight: bold;">
							<ul>
								<li><a href="/" style="color: white; font-weight: bold;">Home</a></li>
								<li>
									<a style="color: white; font-weight: bold;">Advanced Search</a>
									<ul>
										<li><a href="/players/">Players</a></li>
										<li><a href="templates/clubs.html">Clubs</a></li>
										<li><a href="/nationalities/">Nationalities</a></li>
										<li><a href="/positions/">Positions</a></li>
									</ul>
								</li>
								<li><a style="color: white; font-weight: bold;" href="/statistics">Statistics</a></li>
								<li>
									<a style="color: white; font-weight: bold;">Add</a>
									<ul>
										<li><a href="templates/addPlayer.html">Player</a></li>
										<li><a href="templates/addGK.html">Goalkeeper</a></li>
										<li><a href="templates/addClub.html">Add a Club</a></li>
									</ul>
								</li>

								<li><a style="color: white; font-weight: bold;" href="/news/">News</a></li>
							</ul>
						</nav>
				</div>

            <div class="column"  style=" position: relative; text-align: center;  top: 50%;  border-top: 15px;  border-left: 15px solid;  border-bottom: 5px solid;   color : #58D3F7;
  border-top:15px solid  ">

    {% if feed.items %}
        <p></p>

    {% for item in feed.items %}
        <div   class=column style="position: relative; text-align: justify-all;
     padding-left: 30px;
     padding-top: 15px;
     padding-right: 30px;
     top: 50%; border-right: 50px;
     border-top: 5px solid;
     padding-bottom: 15px;
     border-bottom:15px solid;
     border-left: 50px;
     background: #2f2f2f;
     @media screen and max-width: 900px
     ">
        <p>

            <h3 style="color: #ffffff">{{ item.title }}</h3>
            <h3 style="color: #ffffff; font-size: medium">{{ item.published}}</h3>
            {% if item.media_content %}
            {% for img in item.media_content %}
            <img src="{{ img.url }}" height="100px"/>
            {% endfor %}
            {% endif %}
            {% if item.media_text %}
                <div style="padding-left: 5px; padding-top: 5px; color: #ffffff"> {{ item.media_text}}</div>

            {% endif %}

            <div style="padding-left: 5px; padding-top: 5px"><a href="{{ item.link }}">[+]More Info</a></div>
        </p>
    </div>
    {% endfor %}
    {% endif %}
        </div>
        </div>


		<div class="copyright" style="text-align: center; background-color: black; color: white;" >

			<p>&copy; Projeto EDC.</p><p>2019/2020</p>

	    </div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js"%}'></script>
		    <script src='{% static "assets/js/jquery.dropotron.min.js"%}'></script>
		    <script src='{% static "assets/js/jquery.scrolly.min.js"%}'></script>
            <script src='{% static "assets/js/jquery.scrollex.min.js"%}'></script>
		    <script src='{% static "assets/js/browser.min.js"%}'></script>
		    <script src='{% static "assets/js/breakpoints.min.js"%}'></script>
		    <script src='{% static "assets/js/util.js"%}'></script>
		    <script src='{% static "assets/js/main.js"%}'></script>

	</body>
</html>