<!DOCTYPE HTML>

<html>
	<head>
		
		<meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" href='{% static "assets/css/main.css" %}' />
        <script src='{% static "assets/js/Chart.min.js"%}'></script>
        <title>FIFA19</title>
        <style>
                .background {
                    background-image:  url("{% static 'images/background1.jpg' %}");
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;


                }

        </style>
		
	</head>
	<body class="background">
		<div>
			
			<!-- Header -->
				<div id= "header_new" style="padding: 1.6em 0 1.6em 0em; " >

					<!-- Nav -->
					<nav id="nav" style="font-weight: bold;">
							<ul>
								<li><a href="/" style="color: white; font-weight: bold;">Home</a></li>
								<li>
									<a style="color: white; font-weight: bold;">Advanced Search</a>
									<ul>
										<li><a href="/players/">Players</a></li>
										<li><a href="templates/clubs.html">Clubs</a></li>
										<li><a href="/nationalities/">Nationalities</a></li>
										<li><a href="/positions/">Positions</a></li>
									</ul>
								</li>
								<li><a style="color: white; font-weight: bold;" href="/statistics">Statistics</a></li>
								<li>
									<a style="color: white; font-weight: bold;">Add</a>
									<ul>
										<li><a href="templates/addPlayer.html">Player</a></li>
										<li><a href="templates/addGK.html">Goalkeeper</a></li>
										<li><a href="templates/addClub.html">Add a Club</a></li>
									</ul>
								</li>

								<li><a style="color: white; font-weight: bold;" href="/news/">News</a></li>
							</ul>
						</nav>
				</div>
				<div style="margin-bottom: 7.5%; margin-left: 5%; margin-right: 5%; margin-top: 5%; ">
                <canvas id="myChart" width="400" height="128"></canvas>
			    <script type="text/javascript">
				    var canvas = document.getElementById('myChart');

				    var data = { labels: {{ clubs | safe }},

                                label_color:"#000000",
    						    datasets: [{
						            label: "Overall per Club",
						            backgroundColor: "rgba(255,99,132,0.5)",
						            borderColor: "rgba(255,99,132,1)",
						            borderWidth: 1,

                                    labelTextColor:"#000000",
						            hoverBackgroundColor: "rgba(255,99,132,0.4)",
						            hoverBorderColor: "rgba(255,99,132,1)",
						            data: {{ overall }},
						        }]};

				    var option = { scales: { yAxes: [{ ticks: {
				        fontColor:"rgba(0,0,0,1)",
                        fontSize:15,

				        beginAtZero: false } }],
                        xAxes: [{ ticks: {
				        fontColor:"rgba(0,0,0,1)",
                        fontSize:15,

				        beginAtZero: false } }]} };


				    var myBarChart = Chart.Line(canvas,{data:data,options:option});

			    </script>
                </div>
            </div>
            

		<div class="copyright" style="text-align: center; background-color: black; color: white;" >
					
			<p>&copy; Projeto EDC.</p><p>2019/2020</p>
		
	</div>

		<!-- Scripts -->
			<script src='{% static "assets/js/jquery.min.js"%}'></script>
		    <script src='{% static "assets/js/jquery.dropotron.min.js"%}'></script>
		    <script src='{% static "assets/js/jquery.scrolly.min.js"%}'></script>
            <script src='{% static "assets/js/jquery.scrollex.min.js"%}'></script>
		    <script src='{% static "assets/js/browser.min.js"%}'></script>
		    <script src='{% static "assets/js/breakpoints.min.js"%}'></script>
		    <script src='{% static "assets/js/util.js"%}'></script>
		    <script src='{% static "assets/js/main.js"%}'></script>

	</body>
</html>